@using ComicBookInventory.Shared;
@model IEnumerable<AuthorViewModel>
@{
}

<h2>All Authors</h2>
<div>
    <h3 class="btn btn-primary pull-right">@Html.ActionLink("Create","CreateAuthor")</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model is not null)
        {
            @foreach (var a in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => a.FullName)</td>
                    <td>
                        @Html.ActionLink("Edit", "EditAuthor", new { id=a.Id }) |
                        @Html.ActionLink("Details", "AuthorDetails", new { id=a.Id}) |
                        @Html.ActionLink("Delete", "DeleteAuthor", new { id=a.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>