@using ComicBookInventory.Shared;
@model ComicBookWithAuthorsAndCharactersViewModel
@{
}

<h3>@Model.Title</h3>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IsRead)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IsRead)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateRead)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateRead)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Rating)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Rating)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Genre)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Genre)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CoverUrl)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CoverUrl)
    </dd>
    
    <dt class="col-sm-2">
        Author
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AuthorNames)
    </dd>
    
    <dt class="col-sm-2">
        Character
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CharacterNames)
    </dd>
</dl>

<div>
    <a asp-action="GetAllComics">Back to List</a>
</div>