@using ComicBookInventory.Shared;
@model IEnumerable<ComicBookWithAuthorsAndCharactersViewModel>
@{
}

<h2>All Comics</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model is not null)
        {
            @foreach (var c in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => c.Title)</td>
                    <td>@Html.DisplayFor(i => c.Description)</td>
                    <td>@Html.DisplayFor(i => c.Rating)</td>
                    <td>
                        @Html.ActionLink("Edit", "EditComic", new { id=c.Id }) |
                        @Html.ActionLink("Details", "ComicDetails", new { id=c.Id}) |
                        @Html.ActionLink("Delete", "DeleteComic", new { id=c.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>